<!-- {% paginate search.results by 10 %}
  <form action="/search" method="get" role="search">
    <input type="search" name="q" value="{{ search.terms | escape }}">
    <button type="submit">Your search results:</button>
  </form> -->

  {% if search.performed %}
    <!-- {% for article in search.results %} -->
      <!-- {% if article.featured_image %}
        <a href="{{ article.url }}" title="{{ article.title | escape }}">
          {{ article.featured_image.src | img_url: 'medium' | img_tag: article.featured_image.alt }}
        </a>
      {% endif %}
      <h5>{{ article.title | link_to: article.url }}</h5>
      <p>{{ article.content | strip_html | truncatewords: 50 }}</p> -->

      <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {% for article in search.results %}
                <div class="w-full py-6 px-3">
                    <div class="bg-white shadow-xl rounded-lg overflow-hidden">
                        {% if article.image != blank %}
                            <a href="{{ article.url }}">
                                <img class="w-full h-80 object-cover" src="{{ article.image | img_url: 'medium' }}" alt="{{ article.image.alt }}" class="">
                            </a>
                        {% else %}
                            {{ 'image' | placeholder_svg_tag: 'w-full h-80 object-cover bg-gray-100' }}
                        {% endif %}

                        <div class="p-4">
                            <h1 class="text-xl font-medium my-4">{{ article.title }}</h1>

                            {% if section.settings.display_excerpt %}
                                {% if article.excerpt.size > 0 %}
                                    <p class="">{{ article.excerpt | strip_html | truncatewords: 15 }}</p>
                                {% else %}
                                    <p class="">{{ article.content | strip_html | truncatewords: 15 }}</p>  
                                {% endif %}
                            {% endif %}

                            <a href="{{ article.url }}" class="font-medium text-blue-600 hover:text-blue-800 my-4 block">{{ section.settings.blog_read_more }}...</a>
                        </div>
                    </div>
                </div>
              {% else %}
                There are no results for your search
            {% endfor %}
        </div>
    </div>
    
    <!-- {% endfor %} -->
  {% endif %}

  <!-- {% if paginate.pages > 1 %}{{ paginate | default_pagination }}{% endif %}
{% endpaginate %} -->