{% paginate search.results by 10 %}

<form class="search flex justify-center mt-2" action="/search" method="get" role="search">
  <div class="xl:w-96">
      <div class="input-group relative flex items-stretch w-full mb-4 rounded">
          <input type="hidden" name="type" value="article" />
          <input type="search" name="q" value="{{ search.terms | escape }}" class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Search" aria-label="Search" />
          <button type="submit" class="input-group-text flex items-center px-3 py-1.5 text-base font-normal text-gray-700 text-center whitespace-nowrap rounded" id="basic-addon2">
              {% render 'icon-search' %}
          </button>
      </div>
  </div>
</form>

{% if search.performed %}
  {% for item in search.results %}
    <h3>{{ item.title | link_to: item.url }}</h3>
    {% if item.object_type == 'article' %}
      {% comment %}
        'item' is an article
        All article object properties can be accessed.
      {% endcomment %}

          <div class="max-w-6xl mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

                {% for article in search.results %}
                    <div class="w-full py-6 px-3">
                        <div class="bg-white shadow-xl rounded-lg overflow-hidden">
                            {% if article.image != blank %}
                                <a href="{{ article.url }}">
                                    <img class="w-full h-80 object-cover" src="{{ article.image | img_url: 'medium' }}" alt="{{ article.image.alt }}" class="">
                                </a>
                            {% else %}
                                {{ 'image' | placeholder_svg_tag: 'w-full h-80 object-cover bg-gray-100' }}
                            {% endif %}

                            <div class="p-4">
                                <h1 class="text-xl font-medium my-4">{{ article.title }}</h1>

                                {% if section.settings.display_excerpt %}
                                    {% if article.excerpt.size > 0 %}
                                        <p class="">{{ article.excerpt | strip_html | truncatewords: 15 }}</p>
                                    {% else %}
                                        <p class="">{{ article.content | strip_html | truncatewords: 15 }}</p>  
                                    {% endif %}
                                {% endif %}

                                <a href="{{ article.url }}" class="font-medium text-blue-600 hover:text-blue-800 my-4 block">{{ section.settings.blog_read_more }}...</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

      {% if item.image %}
        <div class="result-image">
          <a href="{{ item.url }}" title="{{ item.title | escape }}">
            {{ item | image_url: width: 100 | image_tag }}
          </a>
        </div>
      {% endif %}
    {% elsif item.object_type == 'page' %}
      {% comment %}
        'item' is a page.
        All page object properties can be accessed.
      {% endcomment %}
    {% else %}
      {% comment %}
        'item' is a product.
        All product object properties can be accessed.
      {% endcomment %}

      {% if item.featured_image %}
        <div class="result-image">
          <a href="{{ item.url }}" title="{{ item.title | escape }}">
            {{ item.featured_image | image_url: width: 100 | image_tag }}
          </a>
        </div>
      {% endif %}
    {% endif %}

    <span>{{ item.content | strip_html | truncatewords: 40 | highlight: search.terms }}</span>
  {% endfor %}
{% endif %}

  {% if paginate.pages > 1 %}{{ paginate | default_pagination }}{% endif %}
{% endpaginate %}
